
<%= image_tag product.image, :alt => product.product %>
<br />
<span class="price"><% if product.sale %>
 <b>Sale</b> $<%= product.sale_price %>
  <% else %>
    $<%= product.price %>
<% end %>
</span>